<div data-th-fragment="header">
    <title>AdminApp</title>
    <meta charset="utf-8">

    <!-- Favicon icon -->
    <link rel="icon" href="../../../static/assets/images/favicon.ico" type="image/x-icon">
    <!-- Google font-->
    <link href="https://fonts.google.com/specimen/Open+Sans?selection.family=Open+Sans:400,600" rel="stylesheet">
    <!-- Required Fremwork -->
    <link rel="stylesheet" type="text/css" href="../../../static/bower_components/bootstrap/css/bootstrap.min.css">
    <!-- feather Awesome -->
    <link rel="stylesheet" type="text/css" href="../../../static/assets/icon/feather/css/feather.css">
    <!-- Style.css -->
    <link rel="stylesheet" type="text/css" href="../../../static/assets/css/style.css">
    <link rel="stylesheet" type="text/css" href="../../../static/assets/css/jquery.mCustomScrollbar.css">
    <!-- ico font -->
    <link rel="stylesheet" type="text/css" href="../../../static/assets/icon/icofont/css/icofont.css">
    <!-- feather Awesome -->
    <link rel="stylesheet" type="text/css" href="../../../static/assets/icon/feather/css/feather.css">
    <link rel="stylesheet" type="text/css" href="../../../static/assets/pages/social-timeline/timeline.css">
    <link rel="stylesheet" type="text/css" href="../../../static/assets/icon/font-awesome/css/font-awesome.min.css">

    <!-- Data Table Css -->
    <link rel="stylesheet" type="text/css"
          href="../../../static/bower_components/datatables.net-bs4/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" type="text/css" href="../../../static/assets/pages/data-table/css/buttons.dataTables.min.css">
    <link rel="stylesheet" type="text/css"
          href="../../../static/bower_components/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css">

</div>

<div data-th-fragment="scripts">
    <!-- Warning Section Ends -->
    <!-- Required Jquery -->
    <script type="text/javascript" src="../../../static/bower_components/jquery/js/jquery.min.js"></script>
    <script type="text/javascript" src="../../../static/bower_components/jquery-ui/js/jquery-ui.min.js"></script>
    <script type="text/javascript" src="../../../static/bower_components/popper.js/js/popper.min.js"></script>
    <script type="text/javascript" src="../../../static/bower_components/bootstrap/js/bootstrap.min.js"></script>
    <!-- jquery slimscroll js -->
    <script type="text/javascript"
            src="../../../static/bower_components/jquery-slimscroll/js/jquery.slimscroll.js"></script>
    <!-- modernizr js -->
    <script type="text/javascript" src="../../../static/bower_components/modernizr/js/modernizr.js"></script>
    <script type="text/javascript" src="../../../static/bower_components/modernizr/js/css-scrollbars.js"></script>
    <!-- Chart js -->
    <script type="text/javascript" src="../../../static/bower_components/chart.js/js/Chart.js"></script>
    <!-- amchart js -->
    <script src="../../../static/assets/pages/widget/amchart/amcharts.js"></script>
    <script src="../../../static/assets/pages/widget/amchart/serial.js"></script>
    <script src="../../../static/assets/pages/widget/amchart/light.js"></script>
    <script src="../../../static/assets/js/jquery.mCustomScrollbar.concat.min.js"></script>
    <script type="text/javascript" src="../../../static/assets/js/SmoothScroll.js"></script>
    <script src="../../../static/assets/js/pcoded.min.js"></script>

    <!-- custom js -->
    <script src="../../../static/assets/js/vartical-layout.min.js"></script>
    <script type="text/javascript" src="../../../static/assets/pages/dashboard/custom-dashboard.js"></script>
    <script type="text/javascript" src="../../../static/assets/js/script.min.js"></script>

    <!--<script src="../../../static/assets/pages/data-table/js/data-table-custom.js"></script>-->
    <script src="../../../static/assets/js/jquery.mCustomScrollbar.concat.min.js"></script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"></script>

    <!-- data-table js -->
    <script src="../../../static/bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="../../../static/bower_components/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
    <script src="../../../static/assets/pages/data-table/js/jszip.min.js"></script>
    <script src="../../../static/assets/pages/data-table/js/pdfmake.min.js"></script>
    <script src="../../../static/assets/pages/data-table/js/vfs_fonts.js"></script>
    <script src="../../../static/bower_components/datatables.net-buttons/js/buttons.print.min.js"></script>
    <script src="../../../static/bower_components/datatables.net-buttons/js/buttons.html5.min.js"></script>
    <script src="../../../static/bower_components/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="../../../static/bower_components/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
    <script src="../../../static/bower_components/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js"></script>
    <script src="../../../static/assets/js/demo/chart-area-demo.js"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());

        gtag('config', 'UA-23581568-13');
    </script>
    <script type="text/javascript">
	$(document).ready(function() {
	    var table = $('#multi-colum-dt').DataTable();
	});
	</script>
</div>